<%- include("header")%>

    <div class="ui grid">
        <div class="four wide column">
            <a href="/posts?author=<%= user._id %>" class="avatar" data-tile="<%= user.name %> | <%= ({m:'Male',f:'Female',x:'Secrect'})[user.gender]%>" data-content="<%= user.bio %>">
             <img src="/img/<%= user.avatar%>" alt="avatar" class="avatar">
             </a>
        </div>

        <div class="eight wide column">
            <form action="/posts" method="POST" class="ui form segment">
                <div class="field required">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title">
                </div>
                <div class="field required">
                    <label for="content">Content</label>
                    <textarea name="content" id="content" rows="15"></textarea>
                </div>
                <input type="submit" class="ui button" value="Post">
            </form>
        </div>
    </div>

    <%- include("footer")%>